* {
    margin: 0px;
}

.import {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    textarea {
        flex-grow: 1;
    }

    .save-bar {
        display: flex;
        flex-direction: row;
        align-items: start;
    }

    .saved-notification {
        font-size: 16px;
        padding: 7px 24px;
        margin: 5px 0px;
    }

    .off {
        display: none;
    }

    .save {
        margin: 5px 0px;
        max-width: fit-content;
        background-color: #908be6; /* Green */
        border: none;
        color: white;
        padding: 10px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    
    .save:hover {
        background-color: #5e57e6;
    }
}

.tutorial {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}